{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ disco.nome }}</title>
</head>
<body>
    <main>
        <h1>{{ disco.nome }}</h1>
        <h2>Detalhes:</h2>
        <ul>
            <li>Descrição: {{ disco.descricao }}</li>

            <li>Selo Fonográfico: {{ disco.selo_fonografico.titulo }}</li>

            <li>Ano: {{ disco.ano }}</li>

            <li>País: {{ disco.pais }}</li>

            <li>Gênero: {{ disco.genero }}</li>

            <li>Quantidade: {{ disco.quantidade }}</li>
        </ul>
        <h2>Sobre o(s) artista(s):</h2>
        {% for artista in artistas %}
        <ul>
            <li>Nome: {{ artista.nome }}</li>
            <li>Idade {{ artista.idade }}</li>
        </ul>
        {% endfor %}
    </main>
</body>
</html>