ul {
    list-style-image: url('../icons/disc-white.svg');
}

li {
    font-size: 20px;
    margin-bottom: 5px;
}

li:hover {
    color: #7F00FF;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: fit-content;
    height: fit-content;
    background-color: #252525;

    margin: 3rem auto;
    padding: 30px;
    border-radius: 10px;
    border: 2px solid #7F00FF;
}