table {
    border: 2px solid #7F00FF;
    border-radius: 8px;
}

th,
td {
    text-align: left;
    width: 25%;
    padding: 13px;
}

#buttons-container {
    display: flex;
    margin: auto;
    gap: .5rem;
}

#buttons-container button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttons-container button img {
    filter: invert(99%) sepia(6%) saturate(4%) hue-rotate(31deg) brightness(104%) contrast(100%);
}

tbody tr:nth-of-type(even),
thead th {
    background-color: #181818;
}

th:first-of-type {
    border-radius: 8px 0px 0px 0px;
}

th:last-of-type {
    border-radius: 0px 8px 0px 0px;
}

tbody tr:last-of-type td:first-of-type {
    border-radius: 0px 0px 0px 8px;
}

tbody tr:last-of-type td:last-of-type {
    border-radius: 0px 0px 8px 0px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: fit-content;
    height: fit-content;
    background-color: #252525;

    margin: 3rem auto;
    padding: 30px;
    border-radius: 10px;
    border: 2px solid #7F00FF;
}

#buttons-container a {
    padding: 0;
    margin: 0;
    height: fit-content;
}

#add-disk-button {
    margin-top: 2rem;
    align-self: flex-start;
}